.popup {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #f3f3f3; /* Lysere gråfarge */
    padding: 20px;
    border: 2px solid #6f0000; /* Rød kant */
    border-radius: 10px; /* Myke kanter */
    box-shadow: 0px 0px 10px rgba(255, 0, 0, 0.5); /* Myk skygge */
}


.popup-content {
    text-align: center;
}

.popup button {
    margin: 5px;
}

nav {
    background-color: #6f0000;
    color: #fff;
    padding: 10px;
    text-align: center;
}

nav a {
    color: #fff;
    text-decoration: none;
    margin: 0 10px;
    padding: 6px 10px; /* legg til litt padding for å matche knappstilen */
    border: 1px solid transparent; /* legg til en grense for å skille lenken fra bakgrunnen */
    border-radius: 4px; /* gi lenken litt avrundede hjørner for å matche knappene */
}

nav a:hover {
    background-color: rgba(255, 255, 255, 0.1); /* endre bakgrunnsfargen når lenken er i hover-tilstand */
}

main {
    padding: 20px;
}

/* Mørkt tema */
.dark-mode {
    background-color: #121212;
    color: #fff;
}

/* Høykontrast-tema */
.high-contrast {
    filter: invert(1) hue-rotate(180deg);
}
