*, *::before, *::after {
    box-sizing: border-box; 
    margin: 0; 
    padding: 0; 
    font: inherit; 
}

body {
    font-family: 'Poppins', sans-serif;
}

h1 {
    font-size: 4rem;
}

h2 {
    font-size: 3rem;
    line-height: 200%;
    position: relative;
    margin-bottom: 50px;
}

h2::after {
    content: '';
    display: block;
    width: 40%;
    height: 7px;
    background-color: #A155B9;
    margin: 1 auto;
}

.high-contrast p {
    color:#ffffff;
}

#quiz h2::after {
    content: '';
    display: block;
    width: 40%;
    height: 7px;
    background-color: #A155B9;
    margin: 0 auto;
}

.high-contrast h2::after {
    background-color: #20ecfc;
}

h3 {
    font-size: 1.5rem;
    line-height: 200%;
}

p {
    line-height: 150%;
    font-size: 1rem;
}

section #components, 
section #connection,
section #quiz {
    display: none;
}

section {
    display: none;
    border: 1px solid #165BAA;
    margin-top: 20px;
    max-width: 900px;
    margin-inline: auto;
    padding: 80px 70px;
    box-shadow: 0 0 25px 15px #0b1354;
    border-radius: 15px;
}

section:target {
    display: block;
}

nav {
    background-color: #0b1354;
    color: #ffffff;
    padding: 11px;
    text-align: center;
    border-bottom: 4px solid #A155B9;
}

nav a {
    color: #ffffff;
    text-decoration: none;
    margin: 0 10px;
    padding: 6px 10px;
    border-radius: 7px;
    transition: background-color 0.4s ease-in-out, transform 0.2s ease-in-out;
}

nav a:hover {
    border-bottom: 2px solid #165BAA;
    background-color: rgba(255, 255, 255, 0.1);
}

#themeLink {
    color: #ffffff;
    background-color: transparent;
    text-decoration: none;
    margin: 0 10px;
    padding: 6px 10px;
    border: 1px solid transparent;
    border-radius: 7px;
    cursor: pointer;
}

#themeLink:hover {
    border-bottom: 2px solid #165BAA;
    background-color: rgba(255, 255, 255, 0.1);
}

.high-contrast #themeLink{
    color: #000000;
    border: 4px solid #000000;
    border-radius: 0px;
    padding: 6px 10px;
    margin: 0 10px;
    background-color: transparent;
}

.high-contrast #themeLink:hover {
    background-color: #20ecfc;
}

main {
    padding: 20px;
}

#quiz {
    text-align: center;
    margin: 0 auto;
    margin-top: 20px;
}

#question {
    font-size: 1.2em;
    margin-bottom: 20px;
}

#options {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    height: 200px;
}

#options .quiz-option {
    width: 174px;
    height: 250px;
    margin: 0;
    padding: 20px;
    font-size: 1em;
    border: 3px solid #165BAA;
    border-radius: 7px;
    cursor: pointer;
    background-color: #ffffff;
    color: #000000;
    transition: background-color 0.3s ease-in-out, transform 0.2s ease-in-out;
    /* Legg til følgende regler for å tillate at teksten automatisk justeres ned i størrelse */
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: normal; /* Endret fra nowrap til normal */
    /* Legg til følgende for å tillate automatisk tilpasning av tekststørrelse */
    text-size-adjust: auto;
}



#nextBtn {
    width: 300px;
    height: 60px;
    margin: 20px auto;
    padding: 12px 20px;
    border: 3px solid #165BAA;
    font-size: 1.4rem;
    border-radius: 12px;
    cursor: pointer;
    background-color: #cccccc;
    color: #666666;
    transition: background-color 0.3s ease-in-out, transform 0.2s ease-in-out;
}

#nextBtn.clickable {
    background-color: #165BAA;
    color: #ffffff;
    pointer-events: auto;
}

.high-contrast #options .quiz-option,
.high-contrast #nextBtn {
    border-radius: 0px;
}

#options .quiz-option:hover,
#nextBtn:hover {
    color: #ffffff;
    background-color: #165BAA;
    transform: translateY(-2px);
}

#score {
    font-size: 1.2em;
    margin-top: 20px;
}

#score {
    position: fixed;
    top: 50px; 
    right: 20px;
    background-color: rgba(255, 255, 255, 0.8);
    padding: 5px 10px;
    border-radius: 7px;
    z-index: 999; 
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
    color: #000000;
}

.correct {
    background-color: green !important;
    color: white !important;
}

.incorrect {
    background-color: red !important;
    color: white !important;
}

.theme-button {
    color: #ffffff;
    background-color: #165BAA;
    border-radius: 7px;
    padding: 6px 10px;
    margin: 0 10px;
    cursor: pointer;
}

.theme-button:hover {
    background-color: #ffffff;
    color: #000000;
    transition: background-color 0.4s ease-in-out, transform 0.2s ease-in-out;
}

.theme-popup {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    color: #0b1354;
    border: 1px solid #165BAA;
    display: none;
    z-index: 1000;
    border-radius: 7px;
    box-shadow: 0 0 25px 10px #0b1354;
    padding: 40px;
}

.show-theme-dialog .theme-popup {
    display: block;
}

.hidden { display: none; }
.quiz-container { margin: 20px; }
.quiz-options .quiz-option { display: block; margin: 5px 0; padding: 10px; }

/* Mørkt tema */
.dark-mode {
    background-color: #121212;
    color: #fff;
}

.dark-mode .theme-popup {
    background-color: #252525;
    color: #ffffff;
    box-shadow: 0 0 25px 10px #0b1354;
    text-align: center;
}

.high-contrast .theme-popup {
    background-color: #000000;
    color: #f0f004;
    border-color:#20ecfc; 
    border-width: 5px;
    box-shadow: 0 0 0px 0px #20ecfc;
    text-align: center;
    border-radius: 0px;
}

.high-contrast .theme-popup .theme-button {
    color: #f0f004;
    border: 4px solid #f0f004;
    border-radius: 0px;
    padding: 6px 10px;
    margin: 0 10px;
    background-color: transparent;
}

.high-contrast .theme-popup .theme-button:hover {
    background-color: #20ecfc;
    color: #000000;
}

.dark-mode .theme-button {
    background-color: #165BAA;
    color: #ffffff;
}

.dark-mode .theme-button:hover {
    background-color: #ffffff;
    color: #000000;
    transition: background-color 0.3s ease-in-out, transform 0.2s ease-in-out;
}

.high-contrast .theme-button {
    background-color: #ffffff;
    color: #000000;
    border-color: #20ecfc;
    border-width: 5px;
}

.high-contrast .theme-button:hover {
    background-color: #20ecfc;
    color: #000000;
}

.dark-mode section,
.dark-mode #score {
    background-color: #252525;
}

.high-contrast {
    background-color: #000000;
    color: #f0f004;
}

.high-contrast nav {
    background-color: #f0f004;
    color: #000000;
    border-bottom: 4px solid #20ecfc;
}

.high-contrast nav a {
    color: #000000;
    border: 4px solid #000000;
    border-radius: 0px;
}

.high-contrast nav a:hover {
    background-color: #20ecfc;
}

.high-contrast #quiz {
    background-color: #000000;
}

.high-contrast

#question {
    color: #20ecfc;
}

.high-contrast #options button,
.high-contrast #nextBtn {
    background-color: #ffffff;
    color: #000000;
    border-color: #20ecfc;
}

.high-contrast #options button:hover,
.high-contrast #nextBtn:hover {
    background-color: #20ecfc;
    border-color: #f0f004;
}

.high-contrast #score {
    color: #ffffff;
}

.high-contrast section {
    border-radius: 0px;
    border-color: #20ecfc;
    border-width: 5px;
    box-shadow: 0 0 0px 0px #0b1354;
}

#ram-image {
    margin-top: 30px;
    margin-bottom: 10px;
    max-width: 100%;
    height: auto;
    border-radius: 30px;
    box-shadow: 0 0 15px 5px #0b1354;
    border: 2px solid #165BAA;
}

.fullscreen-image img {
    transition: transform 0.5s ease-in-out;
    max-width: 50%;
    max-height: auto;
    margin-top: 30px;
    margin-bottom: 40px;
    max-width: 100%;
    height: auto;
    border-radius: 30px;
    box-shadow: 0 0 25px 15px #0b1354;
    border: 2px solid #A155B9;
}

.fullscreen-image.show img {
    transform: scale(2);
}

.high-contrast .fullscreen-image img {
    transition: transform 0.5s ease-in-out;
    max-width: 50%;
    max-height: auto;
    margin-top: 30px;
    margin-bottom: 10px;
    max-width: 100%;
    height: auto;
    border-radius: 0px;
    box-shadow: 0 0 0px 0px #f3f3f3;
    border: 2.5px solid #20ecfc;
}