*, *::before, *::after{
    box-sizing: border-box; 
    margin: 0; 
    padding: 0; 
    font: inherit; 
}
body{
    background-color: #F0F0F0;
    font-family: 'Poppins', sans-serif;
}
.dark-mode body{
    background-color: #121212;
    color: #fff;
}
.high-contrast body{
    background-color: #000000;
    color: #f0f004;
}
h1{
    font-size: 4rem;
}
h2{
    font-size: 3rem;
    line-height: 200%;
    position: relative;
    margin-bottom: 50px;
}
h2::after{
    content: '';
    display: block;
    width: 40%;
    height: 7px;
    background-color: #A155B9;
    margin: 1 auto;
}
.high-contrast p{
    color:#ffffff;
}
#quiz h2::after{
    content: '';
    display: block;
    width: 40%;
    height: 7px;
    background-color: #A155B9;
    margin: 0 auto;
}
.high-contrast h2::after{
    background-color: #20ecfc;
}
h3{
    font-size: 1.5rem;
    line-height: 200%;
}
p{
    line-height: 150%;
    font-size: 1rem;
}
section #components, 
section #connection,
section #quiz{
    display: none;
}
section{
    padding: 80px;
    background-color: #ffffff;
    padding-block-start: 40px;
    display: none;
    border: 3px solid #165BAA;
    margin-top: 50px;
    max-width: 900px;
    margin-inline: auto;
    box-shadow: 0 0 0px 0px #552c61;
    border-radius: 15px;
}
section:target{
    display: block;
}
nav{
    background-color: #0b1354;
    position: fixed;
    top: 20px;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #ffffff;
    padding-top: 10px;
    text-align: center;
    z-index: 1; 
    width: 100%;
    margin-bottom: 10px;
}
nav a{
    max-height: max-content;
    color: #ffffff;
    text-decoration: none;
    margin: 0 5px;
    padding: 6px 15px;
    border-radius: 7px;
    transition: background-color 0.4s ease-in-out, transform 0.2s ease-in-out;
}
nav a:hover{
    border-bottom: 2px solid #A155B9;
    background-color: rgba(255, 255, 255, 0.1);
}
#themeLink{
    height: 37px;
    color: #ffffff;
    background-color: transparent;
    text-decoration: none;
    margin: 0 5px;
    padding: 1px 15px;
    border: 0px solid transparent;
    border-radius: 7px;
    cursor: pointer;
}
#themeLink:hover{
    border-bottom: 2px solid #A155B9;
    background-color: rgba(255, 255, 255, 0.1);
}
.high-contrast #themeLink{
    color: #000000;
    border: 4px solid #000000;
    border-radius: 0px;
    background-color: transparent;
    max-height: 43px;
    padding-bottom: 34px;
}
.high-contrast #themeLink:hover{
    background-color: #20ecfc;
}
main{
    padding: 20px;
}
#quiz{
    text-align: center;
    margin: 0 auto;
    margin-top: 50px;
}
#question{
    font-size: 1.2em;
    margin-bottom: 20px;
}
#options {
    display: flex;
    flex-direction: column;
    gap: 10px;
}
#options .quiz-option {
    width: 100%;
    height: auto;
    padding: 20px;
    font-size: 1em;
    border: 3px solid #165BAA;
    border-radius: 7px;
    cursor: pointer;
    background-color: #ffffff;
    color: #000000;
    transition: background-color 0.3s ease-in-out, transform 0.2s ease-in-out;
    white-space: normal;
    text-overflow: clip;
    overflow: visible;
}
#nextBtn{
    width: 300px;
    height: 60px;
    margin: 20px auto;
    padding: 12px 20px;
    border: 3px solid #165BAA;
    font-size: 1.4rem;
    border-radius: 12px;
    cursor: pointer;
    background-color: #fefefe;
    color: #666666;
    transition: background-color 0.3s ease-in-out, transform 0.2s ease-in-out;
}
#nextBtn.clickable{
    background-color: #165BAA;
    color: #ffffff;
    pointer-events: auto;
}
.high-contrast #options .quiz-option,
.high-contrast #nextBtn{
    border-radius: 0px;
}
#options .quiz-option:hover,
#nextBtn:hover{
    color: #ffffff;
    background-color: #165BAA;
    transform: translateY(-2px);
}
#score{
    font-size: 1.2em;
    margin-top: 20px;
}
#score{
    position: fixed;
    top: 50px; 
    right: 20px;
    background-color: rgba(255, 255, 255, 0.8);
    padding: 5px 10px;
    border-radius: 7px;
    z-index: 999; 
    box-shadow: 0px 0px 0px rgba(0, 0, 0, 0.3);
    color: #000000;
}
.correct{
    background-color: green !important;
    color: white !important;
}
.incorrect{
    background-color: red !important;
    color: white !important;
}
.theme-button{
    color: #ffffff;
    background-color: #165BAA;
    border-radius: 7px;
    padding: 6px 10px;
    margin: 0 10px;
    cursor: pointer;
}
.theme-button:hover{
    background-color: #ffffff;
    color: #000000;
    transition: background-color 0.4s ease-in-out, transform 0.2s ease-in-out;
}
.theme-popup{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    color: #0b1354;
    border: 1px solid #165BAA;
    display: none;
    z-index: 1000;
    border-radius: 7px;
    box-shadow: 0 0 0px 0px #0b1354;
    padding: 40px;
}
.show-theme-dialog .theme-popup{
    display: block;
}
.hidden {
    display: none;
}
.quiz-container{
    margin: 20px; 
    margin-top: 20px;
}
.quiz-options .quiz-option{
    display: block;
    margin: 5px 0;
    padding: 10px;
}
.dark-mode{
    background-color: #121212;
    color: #fff;
}
.dark-mode .theme-popup{
    background-color: #252525;
    color: #ffffff;
    box-shadow: 0 0 0px 0px #0a294e;
    text-align: center;
}
.high-contrast .theme-popup{
    background-color: #000000;
    color: #f0f004;
    border-color:#20ecfc; 
    border-width: 5px;
    box-shadow: 0 0 0px 0px #20ecfc;
    text-align: center;
    border-radius: 0px;
}
.high-contrast .theme-popup .theme-button{
    color: #f0f004;
    border: 4px solid #f0f004;
    border-radius: 0px;
    padding: 6px 10px;
    margin: 0 10px;
    background-color: transparent;
}
.high-contrast .theme-popup .theme-button:hover{
    background-color: #20ecfc;
    color: #000000;
}
.dark-mode .theme-button{
    background-color: #165BAA;
    color: #ffffff;
}
.dark-mode .theme-button:hover{
    background-color: #ffffff;
    color: #000000;
    transition: background-color 0.3s ease-in-out, transform 0.2s ease-in-out;
}
.high-contrast .theme-button{
    background-color: #ffffff;
    color: #000000;
    border-color: #20ecfc;
    border-width: 5px;
}
.high-contrast .theme-button:hover{
    background-color: #20ecfc;
    color: #000000;
}
.dark-mode section,
.dark-mode #score{
    background-color: #252525;
}
.high-contrast{
    background-color: #000000;
    color: #f0f004;
}
.high-contrast nav{
    background-color: #f0f004;
    color: #000000;
}
.high-contrast nav a{
    color: #000000;
    border: 4px solid #000000;
    border-radius: 0px;
}
.high-contrast nav a:hover{
    background-color: #20ecfc;
}
.high-contrast #quiz{
    background-color: #000000;
}
.high-contrast
#question{
    color: #20ecfc;
}
.high-contrast #options button,
.high-contrast #nextBtn{
    background-color: #ffffff;
    color: #000000;
    border-color: #20ecfc;
}
.high-contrast #options button:hover,
.high-contrast #nextBtn:hover{
    background-color: #20ecfc;
    border-color: #f0f004;
}
.high-contrast #score{
    color: #ffffff;
}
.high-contrast section{
    border-radius: 0px;
    border-color: #f0f004;
    background-color:#050505;
    border-width: 5px;
    box-shadow: 0 0 0px 0px #0b1354;
}
#ram-image{
    margin-top: 30px;
    margin-bottom: 10px;
    max-width: 100%;
    height: auto;
    border-radius: 30px;
    box-shadow: 0 0 0px 0px #0b1354;
    border: 2px solid #165BAA;
}
.fullscreen-image img{
    transition: transform 0.5s ease-in-out;
    max-width: 50%;
    max-height: auto;
    margin-top: 30px;
    margin-bottom: 40px;
    max-width: 100%;
    height: auto;
    border-radius: 30px;
    box-shadow: 0 0 0px 0px #0a294e;
    border: 3px solid #A155B9;
}
.fullscreen-image.show img{
    transform: scale(2);
}
.high-contrast .fullscreen-image img{
    transition: transform 0.5s ease-in-out;
    max-width: 50%;
    max-height: auto;
    margin-top: 30px;
    margin-bottom: 10px;
    max-width: 100%;
    height: auto;
    border-radius: 0px;
    box-shadow: 0 0 0px 0px #f3f3f3;
    border: 2.5px solid #20ecfc;
}
.minNav{
    position: fixed;
    top: 0;
    z-index: 1;
    width: 100%;
    background-color: #165BAA;
}
.progressjons-container{
    width: 100%;
    height: 4px;
    background: #165BAA;
}
.progressjons-bar{
    height: 4px;
    background: #de73ff;
    width: 0%;
}

.high-contrast .progressjons-container{
    width: 100%;
    height: 4px;
    background: #f0f004;
}

.high-contrast .progressjons-bar{
    height: 4px;
    background: #20ecfc;
    width: 0%;
}
.icon-home::before,
.icon-components::before,
.icon-connection::before,
.icon-quiz::before,
.icon-theme::before{
    font-weight: 900;
    display: inline-block;
    vertical-align: middle;
    margin-right: 8px;
}
nav#minNav img{
    width: 35px;
    height: 35px;
    padding-right: 10px;

}
nav#minNav img #ThemeLink{
    width: 35px;
    height: 35px;

}
nav#minNav .icon img{
    vertical-align: middle;

}
span.iconCPU{
    padding-right: 8px;
}
span.iconCPU img{
    width: 25px;
    height: 25px;
    margin-top: 10px;
}
span.iconRAM{
    padding-right: 8px;
}
span.iconRAM img{
    width: 25px;
    height: 25px;
    margin-top: 10px;
}
span.iconMOBO{
    padding-right: 8px;
}
span.iconMOBO img{
    width: 25px;
    height: 25px;
    margin-top: 10px;
}
span.iconGPU{
    padding-right: 8px;
}
span.iconGPU img{
    width: 25px;
    height: 25px;
    margin-top: 10px;
}
span.iconHDD{
    padding-right: 8px;
}
span.iconHDD img{
    width: 25px;
    height: 25px;
    margin-top: 10px;
}
span.iconSSD{
    padding-right: 8px;
}
span.iconSSD img{
        width: 25px;
        height: 25px;
        margin-top: 10px;
        padding-bottom: 5px;
}
/*lys */
body:not(.dark-mode) .iconCPU img,
body:not(.dark-mode) .iconRAM img,
body:not(.dark-mode) .iconMOBO img,
body:not(.dark-mode) .iconGPU img,
body:not(.dark-mode) .iconHDD img,
body:not(.dark-mode) .iconSSD img{
    filter: invert(100%);
}
/*mørk */
.dark-mode .iconCPU img,
.dark-mode .iconRAM img,
.dark-mode .iconMOBO img,
.dark-mode .iconGPU img,
.dark-mode .iconHDD img,
.dark-mode .iconSSD img{
    filter: invert(0%);
}
/*høykontrast*/
.high-contrast .icon img,
.high-contrast .iconCPU img,
.high-contrast .iconRAM img,
.high-contrast .iconMOBO img,
.high-contrast .iconGPU img,
.high-contrast .iconHDD img,
.high-contrast .iconSSD img{
    filter: invert(100%);
}
/* slideshow greia */
* {
    box-sizing: border-box;
}
.lysbildefremvisning-container {
    position: relative;
    max-width: 1000px;
    margin: auto;
    padding-top: 50px;
    padding-bottom: 0px;
}
.mineBilder img{
    width: 100%;
    border-radius: 5px;
}
.fade {
    animation: fade 3s;
}
@keyframes fade {
    from { opacity: 0.4 } 
    to { opacity: 1 }
}
.fremdrifts-bar {
    height: 5px;
    background-color: #A155B9;
    position: absolute;
    bottom: 0;
    left: 0;
    animation: fremdrift 3s linear infinite;
    border-radius: 1px;
}
@keyframes fremdrift {
    0% {
        width: 0;
    }
    100% {
        width: 100%;
    }
}